{% extends "website/base.html" %}
{%load static %}
{% block main %}
    <div class="row row-space">
            <div class="col-6">
                Mussum Ipsum, cacilds vidis litro abertis. 
                Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
                Mé faiz elementum girarzis, nisi eros vermeio. 
                Suco de cevadiss deixa as pessoas mais interessantis. 
                Atirei o pau no gatis, per gatis num morreus.
            </div>
            <div class="col-6">
                Cevadis im ampola pa arma uma pindureta. 
                Per aumento de cachacis, eu reclamis. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis. 
                Diuretics paradis num copo é motivis de denguis.
            </div>
        </div>
        <div class="row row-space">
            <div class="col-4">
                Mussum Ipsum, cacilds vidis litro abertis. 
                Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
                Mé faiz elementum girarzis, nisi eros vermeio. 
                Suco de cevadiss deixa as pessoas mais interessantis. 
                Atirei o pau no gatis, per gatis num morreus.
            </div>
            <div class="col-4">
                Cevadis im ampola pa arma uma pindureta. 
                Per aumento de cachacis, eu reclamis. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis. 
                Diuretics paradis num copo é motivis de denguis.
            </div>
            <div class="col-4">
                Cevadis im ampola pa arma uma pindureta. 
                Per aumento de cachacis, eu reclamis. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis. 
                Diuretics paradis num copo é motivis de denguis.
            </div>
        </div>
        <div class="row row-space">
            <div class="col-6">
                Mussum Ipsum, cacilds vidis litro abertis. 
                Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
                Mé faiz elementum girarzis, nisi eros vermeio. 
                Suco de cevadiss deixa as pessoas mais interessantis. 
                Atirei o pau no gatis, per gatis num morreus.
            </div>
            <div class="col-6">
                Cevadis im ampola pa arma uma pindureta. 
                Per aumento de cachacis, eu reclamis. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis. 
                Diuretics paradis num copo é motivis de denguis.
            </div>
        </div>
{% endblock main %}

