{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block main %}
   <div class="row">
       <div class="col-sm-6">
            <h1>Cadastro</h1> 
            <form action="{%url 'core_mensalista_novo' %}" method="post">
                {%csrf_token%}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
       </div>
       <div class="col-sm-6">
            <h1>Lista de Mensalistas</h1> 
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Valor mensal</th>
                    </tr>
                </thead>
                {% for mensalista in mensalistas %}
                     <tbody>
                        <tr class="table-row"data-href="{% url 'core_mensalista_update' mensalista.id%}">
                                <th scope="row">{{mensalista.id}}</th>
                                <td>{{mensalista.veiculo}}</td>
                                <td>{{mensalista.inicio}}</td>
                                <td>{{mensalista.valor_mes}}</td>
                            </a>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>       
       </div>
   </div>
    
{% endblock main %}